
@CHARSET "ISO-8859-1";

body {
font-family: verdana;
font-size: small;
}

div.title {
font-size: large;
text-align: center;
}

h1 {
page-break-before: always;
}

h1, h2 {
background-color: #D3D3D3;
color:#404040;
margin-right: 3%;
padding-left: 40px;
}

h1:hover{
background-color: #EBEBEB;
}

h3 {
padding-left: 40px;
}

table {
border-width: 1px;
border-style: solid;
border-color: #000000;
border-collapse: collapse;
width: 94%;
margin: 20px 3% 10px;
}

caption {
margin-bottom: 5px;
}

th {
background-color: #000000;
color:#ffffff;
padding-left:5px;
padding-right:5px;
}

tr {
}

td {
border-width: 1px;
border-style: solid;
border-color: #a0a0a0;
padding-left:5px;
padding-right:5px;
}

label {
float:right;
margin-right: 3%;
}

ul.multicolumn {
list-style:none;
float:left;
padding-right:0px;
margin-right:0px;
}

li.multicolumn {
float:left;
width:200px;
margin-right:0px;
}

a {
color:#a000a0;
text-decoration:none;
}

a:hover {
color:#a000a0;
text-decoration:underline;
}

